body {
  background-color: #0d2438;
  color: white;
  font-family: Nunito;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/Nunito-Regular.ttf") format("truetype");
}

#app {
  text-align: center;
}
